
DATABASE_URL=mysql+pymysql://root:root_password@base_datos:3306/tareas_proyectos
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=tareas_proyectos


SECRET_KEY=cambiar-esta-clave-secreta-en-produccion
JWT_SECRET_KEY=cambiar-esta-clave-jwt-en-produccion

CORS_ORIGINS=http://localhost:4200,http://localhost:80
